{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('room.css') }}">
{% endblock %}

{% block body %}
  <div id="content"></div>
  <script>
    window.userName = '{{ name }}';
  </script>
  <script type="text/javascript" src="{{ asset('common.js') }}"></script>
  <script type="text/javascript" src="{{ asset('room.js') }}"></script>
{% endblock %}
