<div class="js_user {{ user.state is defined ? user.state }} {{ user.absence is defined ? 'absence' }}"
     style="left:{{ user.extra.posX }}px;top:{{ user.extra.posY }}px;"
     data-userid='{{ user.uid }}'>
  <div class="content" data-userid='{{ user.uid }}'>
      <p class="name">{{ user.name }}</p>
      <p class="state"></p>
  </div>
</div>
