{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}
  {% include 'flextime/js.twig' %}
  {% include 'flextime/css.twig' %}
{% endblock %}

{% block body %}
  <form
    attrajax
    data-aa-url='/flextime/uid/{{ uid }}'
    data-aa-method='post'
    data-aa-datatype="text"
    data-aa-success-if-result-is="success"
    data-aa-onsuccess-msg="추가되었습니다"
    data-aa-onsuccess="refresh"
    data-aa-onfail-alert="true"
  >

    <div style="width:1000px;">
      <h2>
        {{ name }}
      </h2>
      <h4>
        <a href='/flextime/uid/{{ uid }}/year/{{ year-1 }}'>{{ year-1 }}</a>
        / {{ year }} /
        <a href='/flextime/uid/{{ uid }}/year/{{ year+1 }}'>{{ year+1 }}</a>
      </h4>

      <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th></th>
          <th>신청날짜</th>
          <th>신청자</th>
          <th>결재자</th>
          <th>시작</th>
          <th>종료</th>
          <th>요일</th>
          <th>출근시간</th>
          <th>업무인수인계자</th>
          <th></th>
        </tr>

        </thead>
        <tbody>

        {% for index, flextime in flextimes %}
          <tr class='flextime' data-flextimeid="{{ flextime.id }}">
            <td>{{ index + 1 }}</td>
            <td>{{ flextime.created_at [:10] }}</td>
            <td>{{ name }}</td>
            <td>{{ flextime.manager_uid_name }}</td>
            <td data-key="start_date">{{ flextime.start_date }}</td>
            <td data-key="end_date">{{ flextime.end_date }}</td>
            <td data-key="weekdays">{{ flextime.weekdays }}</td>
            <td data-key="start_time">{{ flextime.start_time }}</td>
            <td>{{ flextime.keeper_uid_name }}</td>
            <td>
              {% if editable %}
                <input type='button' value='삭제'
                       attrajax
                       data-aa-url="/flextime/uid/{{ uid }}/{{ flextime.id }}"
                       data-aa-method='DELETE'
                       data-aa-confirm='정말 삭제하시겠습니까?'
                       data-aa-datatype="text"
                       data-aa-success-if-result-is="success"
                       data-aa-onsuccess-msg="삭제되었습니다"
                       data-aa-onsuccess="refresh"
                       data-aa-onfail-alert="true"
                />
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        <tr class='add'>
          <td></td>
          <td></td>
          <td>{{ name }}</td>
          <td>
            <label>
              <select name='manager_uid' js_cookie_save js_data_chosen>
                {% for managerUser in managerUsers %}
                  <option value='{{ managerUser.uid }}'>{{ managerUser.name }}</option>
                {% endfor %}
              </select>
            </label>
          </td>
          <td>
            <input type='text' name='start_date'
                   style='width:80px' placeholder='0000-00-00' required
            /></td>
          <td>
            <input type='text' name='end_date'
                   style='width:80px' placeholder='0000-00-00' required
            />
          </td>
          <td>
            <fieldset>
              <input type="checkbox" name="weekdays[]" value="월" checked />월
              <input type="checkbox" name="weekdays[]" value="화" checked />화
              <input type="checkbox" name="weekdays[]" value="수" checked />수
              <input type="checkbox" name="weekdays[]" value="목" checked />목
              <input type="checkbox" name="weekdays[]" value="금" checked />금
            </fieldset>
          </td>
          <td>
            <select name="start_time">
              <option>08:00</option>
              <option>08:30</option>
              <option>09:00</option>
              <option>09:30</option>
            </select>
          <td>
            <label>
              <select name='keeper_uid' js_cookie_save js_data_chosen>
                {% for availableUser in availableUsers %}
                  <option value='{{ availableUser.uid }}'>{{ availableUser.name }}</option>
                {% endfor %}
              </select>
            </label>
          </td>
          <td><input type="submit" value="추가"/></td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>

  <div style="width:1000px;">
  <pre>
<b>[얼리파마]</b>
1. 내용
  아이 돌봄 혹은 출산 직후의 배우자 돌봄을 사유로,
  아래의 시간 대 중 선택 출근하여, 8시간 근무 후 자유로이 퇴근하는 제도
  - 오전 8:00
  - 오전 8:30
  - 오전 9:00
  - 오전 9:30

2. 조건
  미취학 아동 (만 6세 이하)의 자녀가 있는 직원

3. 절차
  1) 사전에 부서장님과의 상의
  2) 최초/분기별 인사팀에 메일 신고
  - 사유, 적용받을 시간대, 주기/횟수 명시
  - 분기마다 (1월, 4월, 7월, 10월 첫째 주 월요일) 갱신
  </pre>
  </div>

  {% if editable %}
    <div style="width: 300px;">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>관리자 메뉴</th>
          <th></th>
        <tr>
        </thead>
        <tr>
          <td>
            다른 사람 편집하기
          </td>
          <td>
            <label>
              <select class='js_superedit' js_data_chosen>
                {% for availableUser in availableUsers %}
                  <option value='{{ availableUser.uid }}'>{{ availableUser.name }}</option>
                {% endfor %}
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            금년 사용내역 다운받기
          </td>
          <td>
            <label>
              <a href="/flextime/download/{{ year }}">
                <button>다운받기</button>
              </a>
            </label>
          </td>
        </tr>
      </table>
    </div>
  {% endif %}
{% endblock %}
