<!--
item : UserDto
-->
<h3>{{ item.name }}님이 회원가입하셨습니다</h3>
<table>
  <tr>
    <td>
      이메일 : {{ item.email }}
    </td>
  </tr>
  <tr>
    <td>
      이름 : {{ item.name }}
    </td>
  </tr>
  <tr>
    <td>
      생년월일 : {{ item.birth }}
    </td>
  </tr>
  <tr>
    <td>
      휴대전화 : {{ item.mobile }}
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://intra.ridi.com/users/list">직원목록 메뉴</a>
    </td>
  </tr>
</table>
