{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}
  <style>
    .tbody-scroll {
      display: block;
      table-layout: fixed;
      word-break: break-all;
      border: 1px solid #ddd;
      border-collapse: collapse;
    }

    .highlight {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }

    .tbody-scroll th { border: 1px solid #ddd; font-size: 12px; }
    .tbody-scroll td { border: 1px solid #ddd; }
    .tbody-scroll .price { text-align: right; padding-right: 5px; }

    .tbody-scroll tbody {
      display: block;
      max-height: 1200px;
      min-height: 100px;
      overflow: auto;
    }

    .select2-container {
      width: 100%;
    }

    .ui-datepicker-calendar {
      display: none;
    }

    input.sm { width: 80px }
    input.md { width: 100px }
    input.lg { width: 140px }
    input.xlg { width: 300px }

    .js_column_fold {
      width: 20px !important;
      overflow: hidden;
      box-shadow: -10px 0 10px #f0f0f0 inset;
    }

    tr.payment_done td {
      color: #bbbbbb;
    }

    .fileupload_button {
      position: relative;
      overflow: hidden;
    }

    .fileupload_button input.js_fileupload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }

    #explan th {
      text-align: center;
    }

    #explan td {
      background-color: #ffffff;
      vertical-align: middle;
    }

    #explan td:first-child,td:nth-child(2) {
      text-align: center;
    }

    #explan td p {
      margin: 0px;
    }
  </style>
  <script>
    require(["jquery", "jquery.jeditable", "jquery.fileupload", 'bootstrap.datatables', 'jquery.cookie'], function ($) {
      var selectMonth = $('input#select-month');
      selectMonth.datepicker({
        changeMonth: true,
        changeYear: true,
        onClose: function(dateText, inst) {
          $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        },
        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
      });
      selectMonth.datepicker('option', 'dateFormat', 'yy-mm');

      var datatable = $('table[datatable]').DataTable({
        "paging": false,
        "ordering": false,
        "autoWidth": false,
        "language": {
          "emptyTable": "데이터가 없습니다."
        }
      });

      var columnVisible = {};
      var columnWidths = [15, 90, 70, 80, 80, 100, 100, 120, 100, 240, 100, 80, 240, 300, 60, 100, 100, 100, 60, 140, 100, 140, 100, 300, 100, 100, 40];

      function setAllColumnWidth() {
        var index = 0;
        var allWidth = 0;
        columnWidths.forEach(function (width, i) {
          if (columnVisible[i] === false) {
            return;
          }

          var thSelector = '.tbody-scroll th:nth-of-type('+(index+1)+')';
          var tdSelector = '.tbody-scroll td:nth-of-type('+(index+1)+')';
          $(thSelector + ', ' + tdSelector).css('width', width+'px');

          var inputSelector = tdSelector + ' input';
          var selectSelector = tdSelector + ' select';
          $(inputSelector + ', ' + selectSelector).each(function () {
            var groupNum = $(this).siblings('[type!=hidden]').length+1;
            $(this).css('width', (width-2*groupNum)/groupNum+'px');
          });
          ++index;
          allWidth += width;
        });

        $('.tbody-scroll').css('width', (allWidth+(2*index)+20)+'px');
        {% if payments|length == 0 %}
          $('.tbody-scroll tbody td').css('width', (allWidth+(2*index-2))+'px');
          $('.tbody-scroll tbody td').css('background-color', '#ddd');
        {% endif %}

        $('table[datatable]').css('table-layout', 'fixed');
      }

      function setColumnVisible(index, isVisible) {
          var column = datatable.column(index);
          column.visible(isVisible, false);
          columnVisible[index] = isVisible;
      }

      var isAllChecked = true;
      $('input.toggle-vis').each(function () {
        setColumnVisible($(this).attr('data-column'), $(this).is(":checked"));
        isAllChecked = isAllChecked && $(this).is(":checked");
      });
      $('#col-toggle-add').prop('checked', isAllChecked);
      setAllColumnWidth();

      $('input.toggle-vis').on('change', function (e) {
        setColumnVisible($(this).attr('data-column'), $(this).is(":checked"));
        var isAllChecked = true;
        $('input.toggle-vis').each(function () {
            isAllChecked = isAllChecked && $(this).is(":checked");
        });
        $('#col-toggle-add').prop('checked', isAllChecked);

        setAllColumnWidth();
      });

      $('#col-toggle-add').on('change', function (e) {
          var isChecked = $(this).is(":checked");
          $('input.toggle-vis').each(function () {
              $(this).prop('checked', isChecked);
              $(this).trigger('change');
          });
      });

      $('th').on('click', function () {
        var column = datatable.column(this);
        column.nodes().to$().toggleClass('js_column_fold');
        $(column.header()).toggleClass('js_column_fold');
        $(column.footer()).toggleClass('js_column_fold');
      });
      $('table th')
        .click(function () {
          var index = datatable.column(this).index();
          var $this = $(this);
          var key = 'payment_column_' + index;
          var val = null;
          if ($this.hasClass('js_column_fold')) {
            val = '1';
          }
          $.cookie(key, val);
        })
        .each(function () {
          var index = datatable.column(this).index();
          var key = 'payment_column_' + index;

          var cookied_value = $.cookie(key);
          if (cookied_value !== undefined) {
            if (cookied_value == '1') {
              var column = datatable.column(this);
              column.nodes().to$().addClass('js_column_fold');
              $(column.header()).addClass('js_column_fold');
              $(column.footer()).addClass('js_column_fold');
            }
          }
        });
      $("input").on("keypress", function (e) {
        return e.which != 13;
      });
      $('#js_pay_date_input').on('change', function () {
        var pay_type_str = $(this).val();
        if (pay_type_str == '선택해주세요') {

        }
        else if (pay_type_str == '긴급') {
          var date_str = false;
          while (1) {
            date_str = false;
            var date = prompt('날짜를 입력해주세요(예시 : 2010/3/2)\n\n** 주의 **\n지정일이 휴일인 경우 지급이 누락될 수 있습니다!\n꼭 확인 후 입력부탁드립니다');
            if (!date) {
              $(this).val('선택해주세요');
              return;
            }
            try {
              var date_obj = new Date(date);
              date_str = date_obj.getFullYear() + '-' + (date_obj.getMonth() + 1) + '-' + date_obj.getDate();
            }
            catch (e) {
            }
            if (date_str) {
              break;
            }
          }
          if (date_str) {
            $('option:selected', this).text('긴급(' + date_str + ')');
            $('input[name=pay_date]').val(date_str);
          }
          else {
            $('input[name=pay_date]').val('');
          }
        }
        else {
          $.post('/payments/get_pay_date_by_str', {pay_type_str: pay_type_str}, function (dat) {
            $('input[name=pay_date]').val(dat);
          })
        }
      }).trigger('change');

      $('#js_category_input').on('change', function () {
        var category = $(this).val();
        if (category == '기타') {
          var category_detail = prompt('상세한 내역 입력해주세요');
          if (!category_detail) {
            category_detail = '기타';
          }
          else {
            category_detail = '기타(' + category_detail + ')';
          }
          $('option:selected', this).text(category_detail);
          //$(this).trigger("change");
          category = category_detail;
        }
        $('input[name=category]').val(category);
      }).trigger('change');

      $('.js_payments_check').click(function () {
        var $checked = $(this).prop('checked');
        $('.js_payment_check').prop('checked', $checked);
      });
      $('.js_edit_all').change(function () {
        var select_button = $(this);
        var key = select_button.data('key');
        var value = select_button.val();
        select_button.val(0);

        var checkboxes = $('.js_payment_check:checked');
        var checkbox_count = checkboxes.length;
        checkboxes.each(function () {
          var row = $(this);
          var paymentid = row.data('paymentid');
          var arg = {key: key, value: value};
          $.ajax('/payments/paymentid/' + paymentid, {
            method: 'put',
            data: arg,
            success: function () {
              checkbox_count--;
              if (checkbox_count == 0) {
                location.reload();
              }
            }
          });
        });
      });
      // Change this to the location of your server-side upload handler:
      var url = '/payments/file_upload';
      $('.js_fileupload').each(function () {
        var paymentid = $(this).data('paymentid');
        var $progress = $('div.progress-bar');
        $(this).fileupload({
          formData: {paymentid: paymentid},
          dropZone: $(this),
          url: url,
          dataType: 'json',
          done: function () {
            $progress.css('width', '0');
            document.location.reload();
          },
          progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $progress.css('width', progress + '%');
          }
        })
          .prop('disabled', !$.support.fileInput)
          .parent()
          .addClass($.support.fileInput ? undefined : 'disabled');

      });
      $('.payment td[data-key]').each(function () {
        var tr_object = $(this).parentsUntil('table').filter('tr');
        var is_editable_by_admin = '{{ editable | e('js') }}';
        var is_editable_by_user = tr_object.hasClass('js_is_editable');
        if (!(is_editable_by_admin || is_editable_by_user)) {
          return;
        }

        var paymentid = tr_object.data('paymentid');
        var key = $(this).data('key');
        var is_keyselect = ($(this).data('keyselect') != undefined);
        var submitdata = {key: key};
        var args = {submitdata: submitdata, method: 'PUT'};

        if (key == 'price') {
          args['data'] = function (value) {
            return value.replace(/\D/gi, '');
          };
        }

        if (is_keyselect) {
          args['type'] = 'select';
          args['loadurl'] = '/payments/const/' + key;
          args['submit'] = "OK";
        }

        $(this).editable('/payments/paymentid/' + paymentid, args);
      });

      $('select[name=js_super_edit]')
        .val({{ currentUid }})
        .trigger("change")
        .change(function () {
          location.href = '/payments/uid/' + $(this).val();
        });

      var rejectPaymentid = undefined;
      $('.co-reject').click(function() {
        $('#rejectModal').modal('show');
        rejectPaymentid = $(this).attr("data-paymentid");
      });

      $('#rejectConfirm').click(function () {
        if (rejectPaymentid === undefined) {
          return;
        }

        $.ajax('/payments/paymentid/' + rejectPaymentid + '?key=is_manager_rejected&value=1', {
          method: 'DELETE',
          data: $('#rejectModal textarea').val(),
          success: function (data) {
            $('#rejectModal').modal('hide');
            alert('반려되었습니다');
            location.reload();
          },
          error: function (xhr, status, error) {
            alert(xhr.responseText);
          }
        });
      });

      $('#today-select').change(function () {
        var selected = $(this).val();
        if (selected == 'all') {
          window.location.href = '/payments/today';
        } else if (selected != 'none') {
          window.location.href = '/payments/today/' + selected;
        }
      });
    });
  </script>
{% endblock %}

{% block body %}
  <h2>
    <span>
      {% if title is defined %}
        {{ title }}
      {% else %}
        {{ user.name }}
      {% endif %}
    </span>
  </h2>
  <div>
    <h4>
      <a href='/payments/uid/{{ currentUid }}/month/{{ prevmonth }}'>{{ prevmonth }}</a>
      / {{ month }} /
      <a href='/payments/uid/{{ currentUid }}/month/{{ nextmonth }}'>{{ nextmonth }}</a>
      /
      <a href='/payments/remain' class='paymentsCommand'>미승인</a>
    </h4>
  </div>
  {% if isSuperAdmin %}
    <div>
      <h4>
        /
        오늘 결제 예정
        <select id="today-select">
          <option value='none'>조건 선택</option>
          <option value='all'>전체({{ todayQueuedCost }}원, {{ todayQueuedCount }}건)</option>
          <option value='confirmed'>승인({{ todayConfirmedQueuedCost }}원, {{ todayConfirmedQueuedCount }}건)</option>
          <option value='unconfirmed'>미승인({{ todayUnconfirmedQueuedCost }}원, {{ todayUnconfirmedQueuedCount }}건)</option>
        </select>
        /
        귀속월 기준
        <form action="/payments/month" method="get" style="display: inline;">
          <input id="select-month" name="param" type="text" style="width:80px;" />
          <input type="submit" value="조회" />
        </form>
      </h4>
    </div>
  {% endif %}

  <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#col-setting" aria-expanded="false" aria-controls="col-setting">
    열 숨김/보이기
  </button>
  <div class="collapse" id="col-setting">
    <input type="checkbox" id="col-toggle-add" />전체보기 -
    <input type="checkbox" name="col-toggle1" class="toggle-vis" data-column="1" js_cookie_save js_default_save="true" />UUID -
    <input type="checkbox" name="col-toggle2" class="toggle-vis" data-column="2" js_cookie_save js_default_save="true" />요청일 -
    <input type="checkbox" name="col-toggle3" class="toggle-vis" data-column="3" js_cookie_save js_default_save="true" />요청자 -
    <input type="checkbox" name="col-toggle4" class="toggle-vis" data-column="4" js_cookie_save js_default_save="true" />승인자 -
    <input type="checkbox" name="col-toggle5" class="toggle-vis" data-column="5" js_cookie_save js_default_save="true" />승인자 확인 -
    <input type="checkbox" name="col-toggle6" class="toggle-vis" data-column="6" js_cookie_save js_default_save="true" />장부반영여부 -
    <input type="checkbox" name="col-toggle7" class="toggle-vis" data-column="7" js_cookie_save js_default_save="true" />재무팀 확인 -
    <input type="checkbox" name="col-toggle8" class="toggle-vis" data-column="8" js_cookie_save js_default_save="true" />귀속월 -
    <input type="checkbox" name="col-toggle9" class="toggle-vis" data-column="9" js_cookie_save js_default_save="true" />귀속부서 -
    <input type="checkbox" name="col-toggle10" class="toggle-vis" data-column="10" js_cookie_save js_default_save="true" />부서 세부분류 -
    <input type="checkbox" name="col-toggle11" class="toggle-vis" data-column="11" js_cookie_save js_default_save="true" />프로덕트 -
    <input type="checkbox" name="col-toggle12" class="toggle-vis" data-column="12" js_cookie_save js_default_save="true" />분류 -
    <input type="checkbox" name="col-toggle13" class="toggle-vis" data-column="13" js_cookie_save js_default_save="true" />상세내역 -
    <input type="checkbox" name="col-toggle14" class="toggle-vis" data-column="14" js_cookie_save js_default_save="true" />파일 -
    <input type="checkbox" name="col-toggle15" class="toggle-vis" data-column="15" js_cookie_save js_default_save="true" />업체명 -
    <input type="checkbox" name="col-toggle16" class="toggle-vis" data-column="16" js_cookie_save js_default_save="true" />입금금액 -
    <input type="checkbox" name="col-toggle17" class="toggle-vis" data-column="17" js_cookie_save js_default_save="true" />결제(예정)일 -
    <input type="checkbox" name="col-toggle18" class="toggle-vis" data-column="18" js_cookie_save js_default_save="true" />세금계산서수취여부 -
    <input type="checkbox" name="col-toggle19" class="toggle-vis" data-column="19" js_cookie_save js_default_save="true" />세금계산서일자 -
    <input type="checkbox" name="col-toggle20" class="toggle-vis" data-column="20" js_cookie_save js_default_save="true" />입금은행 -
    <input type="checkbox" name="col-toggle21" class="toggle-vis" data-column="21" js_cookie_save js_default_save="true" />입금계좌번호 -
    <input type="checkbox" name="col-toggle22" class="toggle-vis" data-column="22" js_cookie_save js_default_save="true" />예금주 -
    <input type="checkbox" name="col-toggle23" class="toggle-vis" data-column="23" js_cookie_save js_default_save="true" />비고 -
    <input type="checkbox" name="col-toggle24" class="toggle-vis" data-column="24" js_cookie_save js_default_save="true" />결제수단 -
    <input type="checkbox" name="col-toggle25" class="toggle-vis" data-column="25" js_cookie_save js_default_save="true" />상태
  </div>

  <div id="rejectModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
              <label for="rejectReason">반려사유</label>
              <textarea id="rejectReason" class="form-control" rows="3" placeholder="사유를 적어주세요."></textarea>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            <button id="rejectConfirm" type="button" class="btn btn-primary">확인</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <form
    attrajax
    data-aa-url='/payments/uid/{{ currentUid }}'
    data-aa-method='post'
    data-aa-success-if-result-is="success"
    data-aa-datatype="text"
    data-aa-onsuccess-msg="추가되었습니다"
    data-aa-onsuccess="refresh"
    data-aa-onfail-alert="true"
  >
    <table class="tbody-scroll" datatable>
      <thead>
      <tr>
        <th>
          <input type="checkbox" class="js_payments_check" name="" title="payment_checkbox_all"/>
        </th>
        <th>UUID</th>
        <th>요청일</th>
        <th>요청자</th>
        <th>승인자</th>
        <th>승인자 확인</th>
        <th>장부반영여부</th>
        <th>재무팀 확인</th>
        <th class="highlight">귀속월</th>
        <th class="highlight">귀속부서</th>
        <th class="highlight">부서 세부분류</th>
        <th class="highlight">프로덕트</th>
        <th class="highlight">분류</th>
        <th class="highlight">상세내역</th>
        <th class="highlight">파일</th>
        <th>업체명</th>
        <th>입금금액</th>
        <th>결제(예정)일</th>
        <th>세금계산서수취여부</th>
        <th>세금계산서일자</th>
        <th class="highlight">입금은행</th>
        <th class="highlight">입금계좌번호</th>
        <th class="highlight">예금주</th>
        <th class="highlight">비고</th>
        <th>결제수단</th>
        <th>상태</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for key, payment in payments %}
        <tr class='payment
        {% if payment.status == '결제 완료' %}payment_done warning{% endif %}
        {% if payment.is_editable %}js_is_editable{% endif %}
        '
            data-paymentid='{{ payment.paymentid }}'>
          <td>
            <input type="checkbox" class="js_payment_check" data-paymentid="{{ payment.paymentid }}"
                   js_cookie_save
                   id='payment_{{ payment.paymentid }}'
                   title="payment_checkbox"/>
          </td>
          <td>{{ payment.uuid }}</td>
          <td>{{ payment.request_date | slice(0, 10) }}</td>
          <td>{{ payment.register_name }}</td>
          <td data-key='manager_uid' data-keyselect>{{ payment.manager_name }}</td>
          <td>
            {% if payment.is_manager_accepted == 0 %}
              {% if payment.manager_uid == selfUid %}
                <input type='button' value='승인'
                       attrajax
                       data-aa-url='/payments/paymentid/{{ payment.paymentid }}'
                       data-aa-method='PUT'
                       data-aa-param='key=is_manager_accepted&value=1'
                       data-aa-confirm='정말 승인하시겠습니까?'
                       data-aa-datatype="text"
                       data-aa-success-if-result-is="success"
                       data-aa-onsuccess-msg="승인되었습니다"
                       data-aa-onsuccess="refresh"
                       data-aa-onfail-alert="true"
                />
              {% else %}
                X
              {% endif %}
            {% else %}
              {{ payment.manger_accept.created_datetime | date('Y-m-d') }}
            {% endif %}
          </td>
          {% if isSuperAdmin %}
            <td data-key='is_account_book_registered' data-keyselect>{{ payment.is_account_book_registered }}</td>
          {% else %}
            <td>{{ payment.is_account_book_registered }}</td>
          {% endif %}
          <td>
            {% if payment.is_manager_accepted == 0 %}
              승인자 확인 필요
            {% else %}
              {% if payment.is_co_accepted == 0 %}
                {% if isSuperAdmin %}
                  <input type='button' value='승인'
                         attrajax
                         data-aa-url='/payments/paymentid/{{ payment.paymentid }}'
                         data-aa-method='PUT'
                         data-aa-param='key=is_co_accepted&value=1'
                         data-aa-confirm='정말 승인하시겠습니까?'
                         data-aa-datatype="text"
                         data-aa-success-if-result-is="success"
                         data-aa-onsuccess-msg="승인되었습니다"
                         data-aa-onsuccess="refresh"
                         data-aa-onfail-alert="true"
                  />
                  <input class='alert alert-danger co-reject' type='button' data-paymentid="{{ payment.paymentid }}" value='반려' style="padding: 0 5px; margin: 0;" />
                {% else %}
                  X
                {% endif %}
              {% else %}
                {{ payment.co_accpeter_name }} ({{ payment.co_accept.created_datetime | date('Y-m-d') }})
              {% endif %}
            {% endif %}
          </td>
          <td class="highlight" data-key='month'>{{ payment.month }}</td>
          <td class="highlight" data-key='team' data-keyselect>{{ payment.team }}</td>
          <td class="highlight" data-key='team_detail' data-keyselect>{{ payment.team_detail }}</td>
          <td class="highlight" data-key='product' data-keyselect>{{ payment.product }}</td>
          <td class="highlight" data-key='category'>{{ payment.category }}</td>
          <td class="highlight" data-key='desc'>{{ payment.desc }}</td>
          <td class="highlight">
            {% if payment.is_file_uploadable %}
              <div class="fileupload_button btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-open"></span>
                <input class="js_fileupload" type="file" name="files[]" multiple
                       data-paymentid="{{ payment.paymentid }}">
              </div>
            {% endif %}
            {% if payment.files %}
              <div class="dropdown" style="display: inline-block">
                <div class=" btn btn-warning btn-xs dropdown-toggle " id="dropdownMenu{{ payment.paymentid }}"
                     data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="true">
                  <span class="glyphicon glyphicon-download-alt"></span>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu{{ payment.paymentid }}">
                  {% for file in payment.files %}
                    <div style="clear: both;padding-right: 5px;">
                      <button attrajax
                              data-aa-url='/payments/file/{{ file.id }}'
                              data-aa-method='DELETE'
                              data-aa-confirm='{{ file.original_filename }} 파일을 정말 삭제하시겠습니까?'
                              data-aa-datatype="text"
                              data-aa-success-if-result-is="success"
                              data-aa-onsuccess-msg="삭제되었습니다"
                              data-aa-onsuccess="refresh"
                              data-aa-onfail-alert="true"
                              class="glyphicon glyphicon-trash btn btn-default btn-xs"
                              style="margin:3px;"
                      >
                      </button>
                      <a href="/payments/file/{{ file.id }}" target="_blank" title="{{ file.reg_date }}">
                        {{ file.original_filename }}
                      </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </td>
          <td data-key='company_name'>{{ payment.company_name }}</td>
          <td data-key='price'><div class="price">{{ payment.price | number_format(2) | replace({'.00' : ''}) }}</div></td>
          <td data-key='pay_date'>{{ payment.pay_date | slice(0, 10) }}</td>
          <td data-key='tax' data-keyselect>{{ payment.tax }}</td>
          <td data-key='tax_date'>{{ payment.tax_date }}</td>
          <td class="highlight" data-key='bank'>{{ payment.bank }}</td>
          <td class="highlight" data-key='bank_account'>{{ payment.bank_account }}</td>
          <td class="highlight" data-key='bank_account_owner'>{{ payment.bank_account_owner }}</td>
          <td class="highlight" data-key='note'>{{ payment.note }}</td>
          {% if isSuperAdmin %}
            <td data-key='paytype' data-keyselect>{{ payment.paytype }}</td>
            <td data-key='status' data-keyselect>{{ payment.status }}</td>
          {% else %}
            <td>{{ payment.paytype }}</td>
            <td>{{ payment.status }}</td>
          {% endif %}
          <td class='paymentsCommand'>
            {% if editable %}
              <input type='button' value='삭제'
                     attrajax
                     data-aa-url='/payments/paymentid/{{ payment.paymentid }}'
                     data-aa-method='DELETE'
                     data-aa-confirm='정말 삭제하시겠습니까?

업체명 : {{ payment.company_name }}
금액 : {{ payment.price | number_format(2) | replace({'.00' : ''}) }}'
                     data-aa-datatype="text"
                     data-aa-success-if-result-is="success"
                     data-aa-onsuccess-msg="삭제되었습니다"
                     data-aa-onsuccess="refresh"
                     data-aa-onfail-alert="true"
              />
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <select name='manager_uid' js_data_chosen>
              <option value='0'>선택</option>
              {% for user in managerUsers %}
                <option value='{{ user.uid }}'>{{ user.name }}</option>
              {% endfor %}
            </select>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td class="highlight">
            <input class='sm' type='text' name='month' maxlength='7' value="{{ todayMonth }}"
                   placeholder="yyyy/mm"/>
          </td>
          <td class="highlight">
            <select name='team' js_data_chosen>
              <option value='0'>선택</option>
              {% for team in const.team %}
                <option value='{{ team }}'>{{ team }}</option>
              {% endfor %}
            </select>
            </td>
          <td class="highlight">
            <select name='team_detail' js_cookie_save js_data_chosen>
              {% for team_detail in const.team_detail %}
                <option value='{{ team_detail }}'>{{ team_detail }}</option>
              {% endfor %}
            </select>
          </td>
          <td class="highlight">
            <select name='product' js_data_chosen>
              <option value='0'>선택</option>
              {% for product in const.product %}
                <option value='{{ product }}'>{{ product }}</option>
              {% endfor %}
            </select>
          </td>
          <td class="highlight">
            <select id='js_category_input' js_data_chosen>
              <option value='0'>선택</option>
              {% for category in const.category %}
                <option value='{{ category }}'>{{ category }}</option>
              {% endfor %}
            </select>
            <input type='hidden' name='category'/>
          </td>
          <td class="highlight">
            <input class='md' type='text' name='desc' placeholder='행사지원 쿠폰 인쇄'/>
          </td>
          <td class="highlight"></td>
          <td>
            <input class='md' type='text' name='company_name' placeholder=''/>
          </td>
          <td>
            <input class='md' type='text' name='price' js_number_format placeholder=''/>
          </td>
          <td>
            <select id="js_pay_date_input">
              {% for product in const.pay_date %}
                <option value='{{ product }}'>{{ product }}</option>
              {% endfor %}
            </select>
            <input type='hidden' name='pay_date'/>
          </td>
          <td>
            <select name='tax'>
              <option value='선택'>선택</option>
              {% for tax in const.tax %}
                <option value='{{ tax }}'>{{ tax }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input class='lg' type='date' name='tax_date' placeholder='일자'/>
          </td>
          <td class="highlight">
            <input class='md' type='text' name='bank' placeholder='우리'/>
          </td>
          <td class="highlight">
            <input class='lg' type='text' name='bank_account' placeholder='xxx-xxxxxxx-xx-xxx'/>
          </td>
          <td class="highlight">
            <input class='md' type='text' name='bank_account_owner' placeholder='홍길동'/>
          </td>
          <td class="highlight">
            <input class='xlg' type='text' name='note' placeholder='비고'/>
          </td>
          <td>
            {% if isSuperAdmin %}
              <select name='paytype' js_data_chosen>
                <option value='미정'>미정</option>
                {% for paytype in const.paytype %}
                  <option value='{{ paytype }}' {% if paytype == '현금' %} selected{% endif %}>
                    {{ paytype }}
                  </option>
                {% endfor %}
              </select>
            {% endif %}
          </td>
          <td>
            {% if isSuperAdmin %}
              <select name='status' js_cookie_save js_data_chosen>
                <option value='결제 대기중'>결제 대기중</option>
                {% for status in const.status %}
                  <option value='{{ status }}'>{{ status }}</option>
                {% endfor %}
              </select>
            {% endif %}
          </td>
          <td>
            <input type="submit" value="추가"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <select class="js_edit_all" data-key="is_manager_accepted" title="is_manager_accepted">
              <option value='0'>선택 일괄 적용</option>
              <option value='1'>승인</option>
            </select>
          </td>
          <td></td>
          <td>
            {% if isSuperAdmin %}
              <select class="js_edit_all" data-key="is_co_accepted" title="is_co_accepted">
                <option value='0'>선택 일괄 적용</option>
                <option value='1'>승인</option>
              </select>
            {% endif %}
          </td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td class="highlight"></td>
          <td>
            {% if isSuperAdmin %}
              <select class="js_edit_all" data-key="paytype" title="paytype">
                <option value='0'>선택 일괄 적용</option>
                {% for paytype in const.paytype %}
                  <option value='{{ paytype }}'>{{ paytype }}</option>
                {% endfor %}
              </select>
            {% endif %}
          </td>
          <td>
            {% if isSuperAdmin %}
              <select class="js_edit_all" data-key="status" title="status">
                <option value='0'>선택 일괄 적용</option>
                {% for status in const.status %}
                  <option value='{{ status }}'>{{ status }}</option>
                {% endfor %}
              </select>
            {% endif %}
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </form>

  <div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
  </div>

  <div style="width: 800px">
        <pre>
<b>※ 재무팀의 비용검토를 위해 결제요청은 결제일기준 최소 영업일 3일전에 신청해주세요.</b>
<b>※ 비용지급은 결제일 18시 이후에 진행합니다. 급한 지급건은 재무팀에 요청주세요.</b>
<br>
A. 기본정보
  1. <b><span style="color: red">승인자</span> : 본인의 상급자 (팀장, 파트장 등등)</b>
  2. 귀속월 : 비용이 실제 사용되는 년/월을 입력 (귀속월이 확정되지 않은 경우, 당월 입력할 것)
  3. 귀속부서 및 프로덕트 : 목록에서 선택
  4. 상세내역 : 사용목적 등을 자세하게 입력
<br>
B. 결제정보
  1. 입금금액 : 부가세 포함한 전체 금액, 또는 원천징수세액 제외한 실지급 금액을 입력
  2. 거래증빙 첨부 안내 (재무팀에서는 거래내역 확인을 위해 추가증빙을 요청드릴 수 있습니다.)
  <table id="explan" class="table table-bordered table-condensed" style="width: 700px">
    <thead>
      <tr>
        <th>거래종류</th>
        <th>거래대상</th>
        <th>첨부증빙</th>
        <th>비고</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2">콘텐츠</td>
        <td>사업자</td>
        <td>계약서, 계산서, 통장사본</td>
        <td>(통장사본은 첫거래시)</td>
      </tr>
      <tr>
        <td style="display: none;"></td>
        <td>개인</td>
        <td>계약서, 주민등록증 사본</td>
        <td>주민등록증 사본은 zip암호화 필수</td>
      </tr>
      <tr>
        <td rowspan="2">제작, 표지, 제작관련 용역</td>
        <td>사업자</td>
        <td>계약서, 세금계산서</td>
        <td></td>
      </tr>
      <tr>
        <td style="display: none;"></td>
        <td>개인</td>
        <td>계약서, 주민등록증 사본</td>
        <td>주민등록증 사본은 zip암호화 필수</td>
      </tr>
      <tr>
        <td>광고비</td>
        <td>사업자</td>
        <td>계약서(or 금액산출근거자료), 세금계산서</td>
        <td></td>
      </tr>
      <tr>
        <td>환불 (캐시, 코인, AS)</td>
        <td>개인</td>
        <td>금액산출 근거 자료</td>
        <td></td>
      </tr>
      <tr>
        <td>운반비</td>
        <td></td>
        <td>
          <p>월간계약: 세금계산서, 이용내역</p>
          <p>일회성 착불: 영수증</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <p>기타비용</p>
          <p>(외주용역, 소모품비, 상품매입 등)</p>
        </td>
        <td>사업자</td>
        <td>계약서, (세금)계산서</td>
        <td></td>
      </tr>
      <tr>
        <td>기타</td>
        <td></td>
        <td>재무팀 문의</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  * 모든 증빙은 <b><span style="color: red">PDF파일</span></b>로 첨부해주세요 (거래명세서상 내역이 많은 경우에는 엑셀첨부가능.)
  ** 위 증빙 외에 참고할 수 있는 증빙 (거래명세서, 인보이스, 이메일, 사업자등록증)이 있다면 함께 첨부해주세요
  *** 증빙없이 선지급해야하는 경우에는 비고란에 사유와 함께 증빙첨부 가능일을 적어주세요.
        </pre>

  </div>

  {% if isSuperAdmin %}
    <div style="width: 500px;">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>관리자 메뉴</th>
          <th></th>
        <tr>
        </thead>
        <tr>
          <td>
            이번달 결제자료 모두 다운받기
          </td>
          <td>
            <input type="button" value="받기"
                   onclick="location.href='/payments/download/{{ month }}'"/>
          </td>
        </tr>
        <tr>
          <td>
            이번달 미승인 자료 모두 다운받기
          </td>
          <td>
            <input type="button" value="받기"
                   onclick="location.href='/payments/downloadRemain/{{ month }}'"/>
          </td>
        </tr>
        <tr>
          <td>
            세금계산서 기간조회
          </td>
          <td>
            <form action="/payments/downloadTaxDate" method="post">
              <input type="text" name="month" placeholder="2016-01"/>
              <input type="submit" value="받기"/>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            귀속월 기준 조회
          </td>
          <td>
            <form action="/payments/downloadActiveMonth" method="post">
              <input type="text" name="month" placeholder="2016-01"/>
              <input type="submit" value="받기"/>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            귀속부서 기준 조회
          </td>
          <td>
            <form action="/payments/downloadActiveTeam" method="post">
              <select name='team' js_cookie_save js_data_chosen>
                {% for team in const.team %}
                  <option value='{{ team }}'>{{ team }}</option>
                {% endfor %}
              </select>
              <input type="submit" value="받기"/>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            분류 기준 조회
          </td>
          <td>
            <form action="/payments/downloadActiveCategory" method="post">
              <select name='category_condition' js_data_chosen>
                {% for category in const.category %}
                  {% if loop.first %}
                    <option value='{{ category }}' selected>{{ category }}</option>
                  {% else %}
                    <option value='{{ category }}'>{{ category }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <input type="submit" value="받기"/>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            기간별 기준 조회
          </td>
          <td>
            <form action="/payments/downloadActiveRequestDate" method="post">
              <input type="text" name="request_date_start" placeholder="2016-01-01"/>
              <span>~</span>
              <input type="text" name="request_date_end" placeholder="2016-12-01"/>
              <input type="submit" value="받기"/>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            다른 사람 편집하기
          </td>
          <td>
            <label>
              <select name='js_super_edit' js_data_chosen>
                {% for user in allUsers %}
                  <option value='{{ user.uid }}'>{{ user.name }}</option>
                {% endfor %}
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            대기중인 요청
          </td>
          <td>
            <label>
              <select name='js_super_edit' js_data_chosen>
                <option selected>요청 선택</option>
                {% for user in queuedPayments %}
                  <option value='{{ user.uid }}'>{{ user.register_name }} (예정일
                    : {{ user.pay_date | slice(0, 10) }}
                    )
                  </option>
                {% endfor %}
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            오늘 결제 대기중
          </td>
          <td>
            {{ todayQueuedCost }} 원 ({{ todayQueuedCount }}건)
          </td>
        </tr>
        <tr>
          <td>
            은행 이체 파일 다운로드
          </td>
          <td>
            <form action="/payments/downloadTodayBankTransfer" method="post">
              오늘 결제 예정
              <select name="type">
                <option value='none'>조건 선택</option>
                <option value='all'>전체({{ todayQueuedCost }}원, {{ todayQueuedCount }}건)</option>
                <option value='confirmed'>승인({{ todayConfirmedQueuedCost }}원, {{ todayConfirmedQueuedCount }}건)</option>
                <option value='unconfirmed'>미승인({{ todayUnconfirmedQueuedCost }}원, {{ todayUnconfirmedQueuedCount }}건)</option>
              </select>
              <input type="submit" value="받기"/>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            미결재건 모음
          </td>
          <td>
            <a href="/payments/remain">이동하기</a>
          </td>
        </tr>
      </table>
    </div>
  {% endif %}
{% endblock %}
